html {
    scroll-behavior: smooth;
  }

  :target {
    scroll-margin-top: 8em;
  }
:root {
    --azul: #0e46fc;
    --amarelo1: #f8da7b;
    --amarelo2: #efcd62;
  } 

body {
    background: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color:#fff;
}
 
.clear{
    clear: both;
}

a {
    text-decoration: none;
    color: #8eb6c7;
}

a:active, a:hover {
    color: #ffdda9;
    text-decoration: none;
     outline: 0;
}
a:focus, a:hover {
    color: #ffdda9;
    text-decoration: none;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    word-break: break-word;}

iframe {  
  width: 100%; 
}

blockquote {
    padding: 22px 15px;
    font-style: normal;
    background: url(img/quote.png) top left no-repeat;
}
em, i {
    font-style:italic;
}
b, strong {
    font-weight: 700;
 }
 
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 900;
    color: inherit;
}
 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 920px;
    margin: auto;
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background: #000;
}

.menu li, .menu ul {
    list-style: none;
    display: inline-block;
    font-size: 0.66rem;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 10px;
    letter-spacing: 1px;
    font-weight: 300;
}

.menu a {
    color: rgb(255, 255, 255);
}
 

.menu ul> li:nth-child(1) {background: var(--azul);padding: 6px 8px;font-weight: 700;}

.menu a:nth-child(3) {
    color: #000;
}

.header {
    height: 864px;
    background: url(images/header.png) top center;
    position: relative;
}

i.fas.fa-angle-double-down {
    position: absolute;
    bottom: 107px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

 

.cultura h1 {
    font-size: 66.667px;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.cultura p {
    font-size: 16.667px;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 20px;
    text-align: justify;
}

.cultura a {
    font-size: 16.667px;
    font-family: "DINPro";
    color:var(--azul);
    font-weight: bold;
}

.cultura {
    width: 30%;
}

.titulo-header {
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin-top: -630px;
    position: absolute;
    width: 43%;
    right: 0px;
}

.titulo-header h6 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: .96rem;
}

.titulo-header h1 {
    margin: 0px;
    font-weight: 500;
    font-size: 2.73rem;
}

.video-inicio {
    height: 315px;
    width: 58%;
    margin-bottom: 30px;
    background: #ffffff1a;
    margin-top: 29px;
}

.essencia {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.educacao, .pessoas, .consultoria {
    line-height: 316px;
    font-size: 1.3rem;
    font-weight: bold;
}

.titulo-header h6:before {content: "";position: absolute;right: 25px;margin-top: 7px;height: 3px;background: var(--azul);width: 110px;}
 
i.fab.fa-facebook-f, i.fab.fa-youtube, i.fab.fa-instagram {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    color: #000;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
}

.redes-site {
    position: absolute;
    left: 130px;
    bottom: 205px;
}

.educacao {
    width: 40%;
    height: 329px;
    z-index: 44;
    background: url(images/edu.png) no-repeat;
    margin-right: -78px;
}

.gradiente-h {
    background: linear-gradient(
179deg
, rgba(0,0,0,1) 0%, rgba(10,41,50,1) 174%, #0a2933 100%);
}

.consultoria {
    background: url(images/consu.png) top center no-repeat;
    width: 37%;
    height: 315px;
    margin-left: -75px;
}
 .text-mais-infos::after {
        background: url(images/cursosm.png) top center no-repeat;
        position: absolute;
        left: -7px;
        content: "";
        width: 143px;
        height: 105px;
        top: 9px;
        animation: pulse 1s infinite;
        margin: 0 auto;
        display: table;
        animation-direction: alternate;
        animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.8);
}
  100% {
   transform: scale(0.85);}
}
.pessoas {
    background: url(images/pessoas.png) top center no-repeat;
    width: 39%;
    height: 330px;
    margin-top: -28px;
}

.essencia h1 {
    width: 100%;
    display: block;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 40px;
}

.solucoes {
    background: var(--azul);
    padding: 40px;
}

.box-solucoes {
    background: #0b3bd7;
    padding: 25px;
    height: 530px;
    font-family: "DINPro";
    width: 32%;
    text-align: center;
}

.box-solucoes h1 {
    font-size: 2.24rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 40px;
}

.box-solucoes p {
    display: block;
    text-align: center;
    line-height: 26px;
    font-size: 1.3rem;
    font-weight: 300;
}

.icone-solucoes {
    width: 120px;
    height: 120px;
    background: url(images/lupa.png) top center no-repeat var(--azul);
    border-radius: 100px;
    margin: auto;
    background-position-y: 30px;
    margin-bottom: 30px;
}

.icone-solucoes-2 {
    width: 120px;
    height: 120px;
    background: url(images/rotina.png) top center no-repeat var(--azul);
    border-radius: 100px;
    margin: auto;
    background-position-y: 30px;
    margin-bottom: 30px;
}

.icone-solucoes-3 {
    width: 120px;
    height: 120px;
    background: url(images/funcionarios.png) top center no-repeat var(--azul);
    border-radius: 100px;
    margin: auto;
    background-position-y: 30px;
    margin-bottom: 30px;
}

.agenda-e-dev {
    padding: 30px;
    background: url(images/digital.png) top right no-repeat #fff;
}

.agenda {
    height: 350px;
    width: 53.5%;
    background: url(images/agendaback.png) #011923;
    margin-bottom: 30px;
}

.titulo-agenda {
    padding: 20px;
    text-align: left;
    font-size: 0.99rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 2px;
    padding-left: 34px;
}

.titulo-agenda span {
    width: 30px;
    height: 42px;
    background: url(images/agenda.png) top center no-repeat;
    display: block;
    margin-top: 3px;
    float: left;
    margin-right: 14px;
}

.desen-projetos-suc {
    width: 45%;
}

.caixa-projetos-desenv {
    border: 1px solid #cccccc;
    height: 299px;
    background: url(images/globo.png) top left no-repeat #fff;
}

.desen-projetos-suc h1 {
    border: 1px solid #cccccc;
    font-size: 0.91rem;
    font-family: "Montserrat";
    color: rgb(14, 70, 252);
    font-weight: 800;
    padding: 12px;
    text-align: center;
    letter-spacing: 1px;
}

input#s {
    border: 1px solid #cccccc;
    background: #f2f2f2;
    padding: 14px;
    width: 100%;
    text-align: center;
}

.pesquisa {
    width: 100%;
    position: relative;
}

.pesquisa button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    background: url(images/busca.png) top center no-repeat;
    position: absolute;
    margin-left: 22%;
    margin-top: 8px;
}

.pesquisa label {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 13px;
    line-height: 43px;
    height: 100%;
    color: #aeadad;
}

.consultoria-home {
    background: url(images/consultoria.png) top left no-repeat #000c11;
    padding: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultoria-home h1 {
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 33%;
    margin-left: auto;
    font-size: 1.62rem;
    padding-right: 40px;
    text-align: left;
}

.text-mais-infos:before {
        animation: mudaback 1s infinite;
        animation-direction: alternate;
        animation-name: mudaback;
}
@-webkit-keyframes mudaback {
  0% {
   filter:grayscale(0.60);
}
  100% {
  filter:grayscale(0);}
}


.consultoria-home h1 > a {
    display: block;
    font-size: .99rem;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 1px solid #999999b8;
    width: max-content;
    padding: 5px 10px;
    color: var(--azul);
    letter-spacing: 2px;
}

.logo2 h4 {
    font-size: 25px;
    font-family: "DINPro";
    color: var(--azul);
    font-weight: bold;
    margin-top: 25px;
}

.logo2 {
    width: 26%;
}

.pessoas {
    animation: rotation 49s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
 
  .educacao:after {
    content: "pessoas";
    position: absolute;
    text-align: center;
    margin-left: 190px;
    margin-top: -20px;
}
   
.footer {
    background: linear-gradient(165deg, rgba(0,0,0,1) 0%, rgba(8,11,15,1) 50%, rgba(15,49,61,1) 100%);
    padding: 40px;
    font-size: 16.667px;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    padding-top: 100px;
}

.f-box {
    width: 28%;
}

.f-box-dois {
    width: 34%;
}

.f-box strong {
    font-weight: bold;
    font-size: 1.13rem;
    margin-bottom: 2px;
    display: block;
}

.f-box h2 p {
    font-weight: normal;
    color: var(--azul);
    font-size: 1.1rem;
}

.f-box h2 {
    margin-bottom: 40px;
}

.icone-fale-conosco {
    width: 45px;
    height: 45px;
    background: url(images/fale.png) top center no-repeat var(--azul);
    float: left;
    margin-right: 10px;
    margin-top: 6px;
    background-position: 9px 8px;
}

.icone-h-atendimento {
    width: 45px;
    height: 45px;
    background: url(images/hora.png) top center no-repeat var(--azul);
    float: left;
    margin-right: 10px;
    margin-top: 6px;
    background-position: 8px 7px;
}

.f-box-dois h2 {
    font-size: 1.14rem;
    display: block;
    width: 100%;
    margin-bottom: 80px;
}

.f-box-dois strong {
    width: 76%;
    display: block;
    float: left;
}

.f-box-dois h3 strong {
    font-weight: bold;
    font-size: 1.13rem;
    margin-bottom: 2px;
    display: block;
    float: unset;
    width: unset;
}

 
.f-box-dois h3 p {
    font-weight: normal;
    color: var(--azul);
    font-size: 1.1rem;
}

.icone-como-chegar {
    width: 45px;
    height: 45px;
    background: url(images/local.png) top center no-repeat var(--azul);
    float: left;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 39px;
    background-position: 12px 8px;
}

i.fab.fa-facebook-f:hover, i.fab.fa-youtube:hover, i.fab.fa-instagram:hover {
    background: var(--azul);
    color: #fff;
}

.cultura a:hover {
    letter-spacing: 1px;
    color: #fff;
}

.box-solucoes:hover   {
    background: #1f4de294;
    height: 500px;
}

i.fab.fa-facebook-f:hover, i.fab.fa-youtube:hover, i.fab.fa-instagram:hover {
    background: var(--azul);
    color: #fff;
}

.cultura a:hover {
    letter-spacing: 1px;
    color: #fff;
}

.box-solucoes:hover   {
    background: #1f4de294;
    height: 500px;
}

.consultoria-home h1 > a:hover {
    background: #fff;
    border: 1px solid #0000;
}

.f-box:hover .icone-h-atendimento, .f-box:hover .icone-fale-conosco, .como-chegar-footer:hover .icone-como-chegar {
    opacity: 0.5;
 
}
.setas {
    position: absolute;
    bottom: 107px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    background: url(images/setas.png) top center no-repeat;
    height: 71px;
}

.setas:hover {
    opacity: 0.6;
}

.menu a:hover {
    background: var(--azul);
    padding: 6px 8px;
    font-weight: 700;
}

i.fas.fa-times, label.btn.close-btn, i.fas.fa-bars {
    font-size: 0px;
    display: none;
}
 

nav input {
    display: none;
}
span.placeholder {
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 43px;
    font-size: 0.6rem;
    color: #0000006e;
    font-weight: 500;
    letter-spacing: 0px;
}

.pag-quem {
    background: url(images/header2.png);
    height: 268px;
    padding: 70px;
}

.pag-quem h1, .pag-vagas h1, .pag-ed-executiva  h1 {
    font-size: 2.4rem;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    width: 46%;
    font-weight: 400;
}

.pag-quem strong, .pag-vagas h1 strong, .pag-ed-executiva h1 strong {
    border-bottom: 2px solid var(--azul);
    line-height: 39px;
    display: inline-block;
}

.area-quem-somos {
    background: url(images/digital.png) top right no-repeat #fff;
    padding: 40px;
}

.area-quem-somos h1 {
    font-size: 3.84rem;
    font-family: "DINPro";
    color: rgb(11, 67, 252);
    font-weight: bold;
    display: block;
    width: 50%;
    position: relative;
    margin-bottom: 25px;
}

.area-quem-somos p {
    color: #000;
    font-family: "DINPro";
    width: 79%;
    display: block;
    font-size: 1.2rem;
}
 

.area-quem-somos p strong {
    font-family: "DINPro";
    font-weight: bold;
}


.area-quem-somos h1:before {
    border-bottom: 2px solid var(--azul);
    content: "";
    position: absolute;
    width: 149px;
    margin-top: 68px;
    margin-left: 8px;
}

.area-quem-somos h1:after {
    border-bottom: 2px solid var(--azul);
    content: "";
    position: absolute;
    width: 174px;
    margin-top: 68px;
    right: 109px;
}

.numeros-experiencias {
    width: 43%;
    font-family: "DINPro";
}

 
.numeros-experiencias span {
    color: var(--azul);
    font-size: 1.4rem;
}

.numeros-experiencias h1 strong {
    color: var(--azul);
    font-weight: bold;
    font-size: 6.87rem;
}

.numeros-experencinas-mais strong {
    color: var(--azul);
    font-weight: bold;
    font-size: 6.87rem;
}

 

.numeros-experencinas-mais p {
    color: var(--azul);
    font-size: 1.4rem;
    display: inline-block;
    width: 29%;
    vertical-align: super;
    line-height: 22px;
}

.numeros-experencinas-mais p strong {
    color: var(--azul);
    font-size: 1.4rem;
}

.numeros-experencinas-mais p:after {
    border-bottom: 2px solid var(--azul);
    content: "";
    width: 31%;
    height: 1px;
    left: 1px;
    position: absolute;
    margin-top: 56px;
}

.pag-quem-experiencia {
    background: url(images/backpreto.png) top left no-repeat;
    padding: 48px;
}

.pag-quem-cursos {
    font-size: 50px;
    font-family: "DINPro";
    line-height: 1.1;
    background: #fff;
    padding: 40px;
}

.pag-quem-cursos h3 {
    color: #000;
    font-size: 1.153rem;
    font-weight: bold;
    width: 42%;
    margin-left: 157px;
    display: inline-block;
}

.pag-quem-cursos a {
    color: var(--azul);
    background: #fff;
    font-size: .91rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 122px;
    display: block;
    width: 15%;
    padding: 10px 6px;
    line-height: 18px;
    height: 40px;
    margin-top: 10px;
}

.pag-quem-inscreva {
    background: url(images/digital2.png) top left no-repeat #f2f2f2;
    padding: 45px;
}

.pag-quem-inscreva h1 {
    font-size: 1.5rem;
    font-family: "DINPro";
    color: #6d6d6d;
    line-height: 1.43;
    width: 33%;
    font-weight: bold;
}

.pag-quem-inscreva h1 strong {
    color: var(--azul);
    font-weight: bold;
}

.pag-quem-inscreva a {
    color: var(--azul);
    background: #fff;
    font-size: .81rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 122px;
    display: block;
    padding: 10px 4px;
    line-height: 18px;
    width: 126px;
    margin-top: 26px;
}

.pag-quem-video {
    width: 60%;
    background: #fff;
    height: 302px;
    overflow: hidden;
}

.pag-quem-video iframe {
    height: 100%;
}
 
.icone-youtube-pag-quem {
    width: 100%;
    height: 63px;
    background: url(images/youtube.png) top left no-repeat;
    background-position-x: -8px;
}

.icones-valores-pag-quem {
    width: 55%;
    height: 441px;
    background: url(images/valores.png) top center no-repeat;
    position: relative;
}
 
.icones-valores-pag-quem2 {
    background: url(images/cirdots.png) no-repeat;    position: absolute;
    width: 232px;
    height: 247px;
    position: absolute;
    top: 97px;
    left: 127px;
    box-sizing: border-box;
    box-sizing: border-box;
    animation: animate2 6s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}
.numeros-experiencias h1 {
    font-size: 6.16rem;
    font-weight: bold;
    letter-spacing: -7px;
    display: inline-block;
    margin-right: 19px;
    vertical-align: sub;
    animation: counter 6s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;

}

@keyframes animate2 {
    0% {
        transform: rotateY(10deg);
    }
    40% {
        transform: rotateY(40deg);
    }
      100% {
        transform: rotateY(10deg);
    }

}
 
  
.pag-quem-cursos a:hover, .pag-quem-inscreva a:hover, .blog-pag-destaques h6:hover, .todas-postagens-blog h6:hover {
    background: var(--azul);
    color: #fff;
}


.area-ataucao {
    background: url(images/digital.png) top right no-repeat #fff;
    padding: 40px;
}

.area-ataucao p {
    color: #000;
    font-family: "DINPro";
    width: 61%;
    display: block;
    font-size: 1.2rem;
    text-align: justify;
}

.area-ataucao p strong {
    color: var(--azul);
}

.area-ataucao a {
    color: var(--azul);
    background: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 122px;
    display: block;
    padding: 10px 0px;
    line-height: 21px;
    margin-top: 26px;
    width: 62%;
}

.pag-quem-experiencia h6 {
    font-family: "DINPro";
    text-transform: none;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: var(--azul);
    letter-spacing: 1px;
}

.atuacaonumeros h1 {
    font-size: 3rem;
}

.atuacaonumeros {
    font-family: "DINPro";
}

.atuacaonumeros span {
    color: var(--azul);
    font-size: 2rem;
    font-weight: bold;
}

.atuacaonumeros h1 {
    width: 44.9%;
    display: inline-block;
    font-size: 4.9rem;
    letter-spacing: -4px;
    margin-bottom: 0px;
}

.atuacaonumeros p:after {
    display: none;
}

.atuacaonumeros .numeros-experencinas-mais {
    width: 19%;
}

.atuacaonumeros .numeros-experencinas-mais p {
    width: 84%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: -10px;
}

.atuacaonumeros .numeros-experencinas-mais strong {
    font-size: 5.5rem;
    margin-left: -3px;
    letter-spacing: -1px;
}
.area-ataucao h1 {
    font-size: 3.84rem;
    font-family: DINPro;
    color: rgb(11, 67, 252);
    font-weight: bold;
    display: block;
    width: 50%;
    position: relative;
    margin-bottom: 25px;
}

.pag-consultoria-atuacao {
    background: url(images/atuacao.png) no-repeat;
    width: 38%;
    height: 576px;
    margin-top: -117px;
}

.pag-atuacao h1 {
    font-size: 2.4rem;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    width: 47%;
    font-weight: 400;
}

.pag-atuacao h1 strong {
    border-bottom: 2px solid var(--azul);
    line-height: 43px;
    display: inline-block;
}

.pag-atuacao {
    background: url(images/header3.png) top center;
    padding: 60px;
}

.indicada-pag-consultoria {
    background: url(images/header4.png) top center;
    padding: 60px;
    font-family: "DINPro";
}

.indicada-pag-consultoria h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    width: 36%;
    font-weight: 400;
}

.indicada-pag-consultoria span {
    border-bottom: 3px solid var(--azul);
    line-height: 43px;
    display: inline-block;
}

.indicada-pag-consultoria h1 strong {
    color: var(--azul);
}

.check-indicada {
    width: 51%;
    font-size: 1.3rem;
}

.check-indicada p {
    display: block;
    margin-bottom: 20px;
}

.check-indicada a {
    color: var(--azul);
    background: #fff;
    font-size: .81rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 122px;
    display: block;
    padding: 10px 4px;
    line-height: 22px;
    width: 46%;
    margin-top: 26px;
}

.check-indicada i.fas.fa-check {
    color: var(--azul);
    font-size: 1.9rem;
    display: block;
    float: left;
    margin-right: 13px;
    margin-top: 3px;
}

.pag-blog {
    background: url(images/header5.png) top center;
    height: 268px;
    padding: 70px;
}

.pag-blog h1 {
    font-size: 2.4rem;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    width: 46%;
    font-weight: 400;
}
.pag-blog strong {
    border-bottom: 2px solid var(--azul);
    line-height: 39px;
    display: inline-block;
}

.blog-pag-destaques {
    padding: 30px;
    background: url(images/digital.png) top right no-repeat #fff;
}


.blog-pag-destaques h6 {
    color: var(--azul);
    background: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 122px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
}

.box-destaque {
    width: 32%;
    position: relative;
}

.box-destaque-titulo {
    background:#02050a;
    padding: 30px;
    height: 192px;
    text-align: left;
    font-family: "DINPro";
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
}

.box-destaque-titulo span {
    color: var(--azul);
    font-weight: bold;
}

.imagem-box-destaque {
    height: 140px;
    overflow: hidden;
}

.imagem-box-destaque img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.ler-mais-blog {
    display: block;
    width: 56px;
    height: 56px;
    background-color: var(--azul);
    text-align: center;
    font-family: "DINPro";
    border-radius: 100px;
    border: 5px solid #fff;
    color: #fff;
    font-size: 1.7rem;
    line-height: 38px;
    position: absolute;
    bottom: -14px;
    margin-left: 39%;
}
 

.todas-postagens-blog {
    background: #eeeeee;
    padding: 30px;
}

.todas-postagens-blog h6 {
    color: var(--azul);
    background: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 122px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
    margin-right: 14px;
}

.todas-postagens-blog .pesquisa {
    width: 80.7%;
}

.imagem-box-postagem-normal {
    height: 210px;
    background: #000;
    overflow: hidden;
}

.imagem-box-postagem-normal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-postagem-normal-titulo {
    padding: 40px;
    height: 192px;
    text-align: left;
    font-family: "DINPro";
    font-size: 1.3rem;
    font-weight: normal;
    position: relative;
    background: #fff;
    color: #02050a;
}

.box-postagem-normal-titulo span {
    color: var(--azul);
    font-weight: bold;
}

.box-postagens-normal {
    width: 49%;
    position: relative;
}

.box-postagens-normal:nth-child(3) {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
 

.box-postagens-normal:nth-child(3) .imagem-box-postagem-normal {
    background: #fff;
    width: 57%;
    height: 315px;
}

.box-postagens-normal:nth-child(3)  .box-postagem-normal-titulo {
    height: 315px;
    font-size: 1.80rem;
    width: 69%;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.box-postagens-normal:nth-child(3) .ler-mais-blog {
    right: -32px;
    top: 40%;
    font-size: 1.8rem;
    margin-left: 45%;
    width: 65px;
    height: 65px;
    line-height: 51px;
}

.box-postagens-normal:nth-child(4) .ler-mais-blog, .box-postagens-normal:nth-child(5) .ler-mais-blog {
    font-size: 1.8rem;
    margin-left: 44%;
    width: 65px;
    height: 65px;
    line-height: 51px;
}

.box-destaque:hover .imagem-box-destaque img {
    filter: brightness(0.5);
}

.box-destaque:hover .ler-mais-blog, .box-postagens-normal:hover .ler-mais-blog, .footer-artigo .box-postagens-normal:nth-child(3):hover .ler-mais-blog {
    background: #040608;
    color: var(--azul);
}
.artigo-container, .vagas-pag, .ed-executiva-pag   {
    background: url(images/digital3.png) bottom right no-repeat #f0f0f0;
    padding: 30px;
}

.artigo-titulo {
    background: #011923;
    padding: 45px;
    margin-top: -90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}

.artigo {
    font-family: "DINPro";
}

.artigo-titulo span {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.artigo-titulo a {
    color: var(--azul);
}

 
.data-artigo {
    width: 26%;
    border-right: 1px solid var(--azul);
    padding: 15px;
    font-size: 2.6rem;
    font-weight: 900;
    color: var(--azul);
    font-family: 'Montserrat';
    margin-right: 25px;
}

.artigo-titulo h1 {
    width: 68%;
    font-size: 1.7rem;
    font-weight: 600;
}

.footer-titulo {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.67rem;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    margin-top: 21px;
}

.artigo-texto {
    background: #fff;
    padding: 30px;
    color: #161616;
    font-family: "DINPro";
    font-size: 1.2rem;
    line-height: 35px;
    width: 78%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.artigo-texto p {
    display: block;
    margin-bottom: 10px;
}

.footer-artigo {
    background: #e2e0e0;
    padding: 50px;
}

.footer-artigo h6 {
    color: var(--azul);
    background: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
}

.footer-artigo .box-postagens-normal:nth-child(3) {
    width: 49%;
    position: relative;
    display: block;
}

.footer-artigo .box-postagens-normal:nth-child(3) .imagem-box-postagem-normal {
    height: 210px;
    width: 100%;
}

.footer-artigo .box-postagens-normal:nth-child(3) .box-postagem-normal-titulo {
    height: 192px;
    font-size: 1.3rem;
    width: 100%;
}

.footer-artigo .box-postagens-normal:nth-child(3) .ler-mais-blog {
    display: block;
    width: 56px;
    height: 56px;
    background-color: var(--azul);
    text-align: center;
    font-family: "DINPro";
    border-radius: 100px;
    border: 5px solid #fff;
    color: #fff;
    font-size: 1.7rem;
    line-height: 38px;
    position: absolute;
    margin-left: 45%;
    right: unset;
    bottom: -14px;
    top: unset;
}

.footer-artigo-leia {
    width: 100%;
    text-align: center;
    margin-top: -71px;
}

.footer-artigo .box-postagens-normal:nth-child(2) .ler-mais-blog {
    margin-left: 42%;
    bottom: 5px;
}
 

.footer-artigo .pesquisa {
    width: 86%;
    margin: auto;
    margin-top: 30px;
}
 
.pag-vagas {
    background: url(images/header6.png) top center;
    height: 300px;
    padding: 70px;
}
 
.vagas-box {
    width: 48%;
}

.vagas-image {
    height: 220px;
    background: #000;
}

.infos-sobre-vagas {
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    font-family: "DINPro";
    padding: 21px;
    position: relative;
    align-content: flex-start;
    margin-bottom: 40px;
}

.infos-sobre-vagas h1 {
    font-size: 2rem;
    color: rgb(14, 70, 252);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 11px;
}

.infos-sobre-vagas p {
    color: #a4a3a3;
    text-align: center;
    display: block;
    width: 100%;
}

.infos-sobre-vagas a {
    background: var(--azul);
    color: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
    position: absolute;
    bottom: -51px;
}

.infos-sobre-vagas a:hover {
    background: #fff;
    color: var(--azul);
}


.text-mais-vagas {
    background: #fff url(images/digitalvagas.png) top left no-repeat;
    padding: 30px 90px;
    color: #000000;
    border: 1px solid #00000021;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 0.99rem;
    position: relative;
    font-family: "DINPro";
}

.vagas-leia h6 {
    color: var(--azul);
    background: #fff;
    font-size: .83rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
}

.vagas-leia {
    width: 100%;
}

.text-mais-vagas strong {
    color: var(--azul);
}

.pag-ed-executiva h1 {
    width: 56%;
}

.text-mais-infos {
    background: #fff;
    padding: 25px 42px 25px 160px;
    border: 1px solid #00000021;
    line-height: 22px;
    font-size: 0.99rem;
    margin-bottom: 20px;
    text-align: justify;
    position: relative;
    color: #000000;
    font-family: "DINPro";
}
 
 
.text-mais-infos:before {
    background: #fff0 url(images/cursos.png) top left no-repeat;
    position: absolute;
    left: -5px;
    content: "";
    width: 146px;
    height: 148px;
    top: -13px;
}
.text-mais-infos strong {
    color: var(--azul);
}

.cursos-box {
    width: 24%;
}

.curso-image {
    height: 315px;
    margin-bottom: 14px;
    position: relative;
}

.curso-image img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.cursos-box h1 {
    color: var(--azul);
    background: #fff;
    font-size: .60rem;
    font-family: "Montserrat";
    font-weight: 800;
    border: rgb(210, 210, 210) 1px solid;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 20px;
    line-height: 12px;
    margin: auto;
    margin-bottom: 30px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.descricao-curso {
    position: absolute;
    top: 23px;
    height: 100%;
    background: #000000e0;
    padding: 15px;
    font-size: 0.91rem;
    color: #fff;
    font-family: "DINPro";
    text-align: center;
    opacity: 0;
}

.descricao-curso img {
    width: 100%;
    height: 115px;
    object-fit: none;
    margin-bottom: 15px;
}

.descricao-curso > gehr > strong {
    color: #2a577f;
}

.descricao-curso.liderencam > p > strong {
    color: #0017ae;
}

.descricao-curso.comunic > p > strong {
    color: #37a635;
}

.descricao-curso.assem > p > strong {
    color: #fdcd16;
}

.descricao-curso.exemoc > p > strong {
    color: #972d2d;
}

.descricao-curso.pensanm > p > strong {
    color: #0e73ef;
}

.descricao-curso.mktc > p > strong {
    color: #c0121e;
}

.descricao-curso.vendedorc > p > strong {
    color: #b77d00;
}

.cursos-box:hover .descricao-curso {
    top: 0px;
    opacity: 1;
}

.cursos-box h1:hover {
    background: var(--azul);
    color: #fff;
}

.descricao-curso h1 {
    display: block;
    text-align: center;
    border: none;
    background: none;
    text-transform: unset;
    color: #fff;
    font-family: "DINPro";
    letter-spacing: 0px;
    font-size: 1.0rem;
    margin: 0px;
    line-height: 16px;
    padding: 0px 21px;
}

.descricao-curso.gehr h1 > strong {
    color: #2b567e;
}
 
.descricao-curso.assem h1 > strong {
    color: #fdcd16;
}

.descricao-curso.assem h1:hover,.descricao-curso.gehr h1:hover {
    background: unset;
}

.imagem-treinamento {
    width: 69%;
    height: 380px;
    background: #ddd;
    margin-right: -66px;
    overflow: hidden;
}

.titulo-treinamentos-p {
    font-family: "DINPro";
    font-weight: bold;
    background: #fff;
    padding: 26px;
    position: relative;
    margin-top: 21px;
    height: max-content;
    margin-bottom: 11px;
}

.titulo-treinamentos-p p {
    color: rgb(102 102 102 / 78%);
    font-size: 0.99rem;
    font-weight: normal;
}

.titulo-treinamentos-p h1 {
    color: var(--azul);
    font-size: 1.6rem;
    line-height: 26px;
}

.eu-quero {
    font-family: "DINPro";
    background: #011923;
    padding: 28px;
}

.eu-quero h1 {
    font-size: 1.43rem;
}

.eu-quero h1 > strong {color: var(--azul);}

.eu-quero a {
    color: #00000063;
    background: #fff;
    font-size: .80rem;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 8px 20px;
    line-height: 21px;
    width: max-content;
}
.eu-quero a:hover {
    background: var(--azul);
    color: #fff;
}
.box-ed-executiva-querotrinamento {
    width: 33%;
    margin-right: 0px;
    position: relative;
}
 

.pag-ed-executiva {
    background: url(images/header7.png) top center;
    height: 255px;
    padding: 50px;
}

.titulo-treinamentos-p:before {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    content: "";
    position: absolute;
    left: -15px;
    margin-top: 13%;
}

.imagem-treinamento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 

button.seta-previous.slick-arrow {
    position: absolute;
    left: 1px;
    width: 45px;
    height: 46px;
    border-radius: 100px;
    background: #fff;
    top: 30%;
    z-index: 11;
    border: none;
    margin: 19px;
    cursor: pointer;
    color: #0000001f;
    font-size: 1.25rem;
    font-weight: 900;
}

button.seta-previous.slick-arrow:before {content: "<";}

button.seta-previous.slick-arrow:hover {
    opacity: 0.7;
}

button.seta-next.slick-arrow {
    display: none;
    position: absolute;
}

.todas-postagens-blog input#s {
    padding: 11px 28px;
}

.todas-postagens-blog button {
    margin-top: 5px;
}

@media only screen and (max-width:800px) { 
    .icones-valores-pag-quem2 {
        display: none;
    }

    .icones-valores-pag-quem {
        background-size: 100%;
        margin-top: 65px;
        height: 280px;
    }

    .box-postagens-normal:nth-child(3), .footer-artigo .box-postagens-normal:nth-child(3) .box-postagem-normal-titulo, .artigo-titulo, .row, .menu,  i.fas.fa-times, label.btn.close-btn, i.fas.fa-bars {
        display: block;
    }
   
     .artigo-titulo {
        border: none;
        text-align: center;
    }
    .data-artigo {
        font-size: 1.7rem;
        margin-bottom: 0px;
        padding: 10px;
    }
    .artigo-titulo {
        margin-top: -40px;
    }

    .ler-mais-blog, .footer-artigo .box-postagens-normal:nth-child(2) .ler-mais-blog, .footer-artigo .box-postagens-normal:nth-child(3) .ler-mais-blog {
        display: none;
    }
    .box-postagens-normal:nth-child(3) .box-postagem-normal-titulo {
        font-size: 1.3rem;
        height: 192px;
    }

  .cursos-box, .box-ed-executiva-querotrinamento, .imagem-treinamento, .pag-ed-executiva h1, .vagas-leia h6, .pag-vagas h1, .vagas-box, .box-postagens-normal:nth-child(3) .box-postagem-normal-titulo, .box-postagens-normal:nth-child(3), .todas-postagens-blog h6, .todas-postagens-blog .pesquisa, .box-destaque, .footer-artigo .pesquisa, .footer-artigo .box-postagens-normal:nth-child(3), .box-postagens-normal:nth-child(3) .imagem-box-postagem-normal,  .box-postagens-normal:nth-child(3) .box-postagem-normal-titulo, .box-postagens-normal, .artigo-texto, .artigo-titulo h1, .data-artigo, .pag-blog h1, .pag-atuacao h1, .check-indicada, .indicada-pag-consultoria h1, .atuacaonumeros h1, .pag-consultoria-atuacao, .pag-atuacao, .area-ataucao h1, .area-ataucao a, .area-ataucao p, .numeros-experencinas-mais p, .numeros-experencinas-mais p:after, .icones-valores-pag-quem, .pag-quem-video, .pag-quem-inscreva h1, .pag-quem-cursos h3,  .numeros-experiencias, .pag-quem h1, .area-quem-somos p, .cultura, .video-inicio, .box-solucoes, .agenda, .desen-projetos-suc, .logo2, .f-box, .f-box-dois, .menu, .menu ul, .consultoria-home h1, .f-box-dois strong {
        width: 100%;
    }
    
    .footer-titulo {
        line-height: 20px;
    }

    .box-solucoes, .todas-postagens-blog .pesquisa {
        margin-bottom: 20px;
    }
    
    .container {
        width: 90%;
    }
    
   .imagem-treinamento, .pag-ed-executiva, .pag-vagas, .video-inicio, .box-solucoes, .pag-blog {
        height: auto;
    }
    
    .menu {
        text-align: center;
    }
     
    .descricao-curso p, .descricao-curso h1 {
        font-size: 1.2rem;
    }
    
.header {
    height: 0;
    background-size: cover;
    padding-bottom: 156%;
    background-position: top center;
    background-position-x: -279px;
}
    
    .redes-site {
        position: absolute;
        bottom: 150px;
        left: 25px;
    }
    
    .titulo-header {
        width: 100%;
        margin-top: -318px;
    }
    
    .titulo-header h1 {
        font-size: 1.36rem;
    }
    
  .titulo-header h6:before {
    margin-top: 9px;
    right: 36px;
    width: 18%;
}
    
    .cultura h1 {
        font-size: 3rem;
    }
    
    .cultura p {
        line-height: 25px;
    }
    
    .educacao, .consultoria, .pessoas {
        width: 100%;
        margin: 0px;
        text-align: center;
        background-position: top center;
    }
    
    .educacao:after {
        margin-left: -95px;
        margin-top: 337px;
        z-index: 11;
    }

    .essencia {
        overflow: hidden;
        display: block;
    }

    .box-solucoes h1, .pag-blog h1 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    
    .icone-solucoes, .icone-solucoes-2, .icone-solucoes-3 {
        width: 96px;
        height: 96px;
        background-size: 46%;
        background-position-y: 24px;
    }
    
    .box-solucoes p {
        font-size: 1.1rem;
    }
    
    .agenda-e-dev {
        padding: 15px;
        padding-top: 30px;
    }
    
    .consultoria-home {
        padding: 42px;
    }

    nav .wrapper{
        position: relative;
        max-width: 1300px;
        padding: 0px 30px;
        height: 70px;
        line-height: 70px;
        margin: auto;
        display: flex;
        position:relative;
        z-index:1111;
        align-items: center;
        justify-content: space-between;
        margin-top: -48px;
      }
        
      .nav-links li{
        list-style: none;
        display: block;
        margin: 0px;
      }  
       
       
        .wrapper .nav-links{
          position: fixed;
          height: 100vh;
          width: 100%;
          top: 0;
          left: -100%;
          background: var(--azul);
          display: block;
          padding: 50px 10px;
          line-height: 38px;
          overflow-y: auto;
          box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
          transition: all 0.3s ease;
          margin: 0px;
          text-align: left;
          padding-left: 36px;
        }
        
        #menu-btn:checked ~ .nav-links{
          left: 0%;
        }
       
      nav input{
        display: none;
      }
       i.fas.fa-bars {
    font-size: 2rem;
}

label.btn.menu-btn {
    margin-top: -22px;
    margin-left: -36px;
}

label.btn.close-btn {
    font-size: 1rem;
    background: #0000000f;
    padding: 2px 15px;
    border-radius: 100px;
    text-align: left;
    margin-bottom: 15px;
    display: block;
    width: max-content;
}
 
.menu {
    height: 101px;
}

label.btn.close-btn {
    font-size: 20px;
    display: block;
    padding: 5px 7px;
}
.nav-links li {
    font-size: 0.86rem;
}
.box-solucoes:hover   {
    background: #1f4de294;
    height: auto;
}

.pesquisa button {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}

span.placeholder {
    height: 100%;
    line-height: 16px;
    padding-top: 42px;
}

input#s {
    height: 100px;
}

.pesquisa {
    margin-top: 20px;
}
i.fas.fa-times {
    font-size: 16px;
}
 .icone-youtube-pag-quem {
    width: 100%;
    height: 63px;
    background: url(images/youtube.png) top left no-repeat;
}

.area-quem-somos h1 {
    width: 100%;
    border-bottom: 2px solid var(--azul);
    font-size: 2.84rem;
    text-align: center;
}

.area-quem-somos h1:before, .area-quem-somos h1:after {
    content: "";
    display: none;
}
.pag-consultoria-atuacao {
    margin-top: 0px;
    background: url(images/atuacao.png) no-repeat top center;
    background-size: contain;
    height: 493px;
}
.pag-ed-executiva, .pag-vagas, .artigo-titulo, .pag-blog, .pag-atuacao, .pag-quem-inscreva, .pag-quem-cursos, .area-quem-somos, .pag-quem, .pag-quem-experiencia, .area-ataucao, .indicada-pag-consultoria {
    padding: 15px;
}

 
.pag-quem h1, .pag-quem-experiencia h6, .pag-ed-executiva h1 {
    font-size: 2rem;
}

.pag-quem {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.numeros-experencinas-mais {
    text-align: center;
}
.area-ataucao p {
    text-align: left;
}
.pag-quem-cursos h3 {
    margin: 0px;
    margin-bottom: 20px;
}

.area-ataucao h1 {
    font-size: 2.6rem;
    margin-top: 20px;
}

.pag-quem-cursos a, .pag-quem-inscreva a, .check-indicada a {
    width: 100%;
    text-align: center;
}
.atuacaonumeros .numeros-experencinas-mais {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.pag-quem-experiencia.atuacaonumeros {
    background: url(images/backpreto.png) bottom no-repeat;
}
.atuacaonumeros h1 {
    width: 47%;
}
.infos-sobre-vagas a {
    font-size: 0.6rem;
    padding: 5px 19px;
}

.text-mais-vagas {
    padding: 28px;
    background: #fff url(images/digitalvagas.png) left bottom no-repeat;
}

.text-mais-infos {
    padding: 31px;
    padding-top: 140px;
}
 
.titulo-treinamentos-p:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    margin-top: -18%;
    left: 42%;
}

.ed-executiva-pag {
    padding: 14px;
}
}
